<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

   
  <title><%= title %></title>

  <% include Shared/callcss %>

</head>

<body id="page-top">

  <% include Shared/header %>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Lista de Lojas</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Lojas</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <% for (i=0; i < tabLojaKeys.length; i++){ %>
                      <th><%= tabLojaKeys[i] %></th>
                      
                      <% }; %>
                      <th>Editar</th>
                      <th>Desativar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% tabLojaData.forEach(function(tabLojaData){ %>
                    
                      <tr>
                        <td><%= tabLojaData.ID %></td>
                        <td><%= tabLojaData.Nome %></td>
                        <td><%= tabLojaData.Telefone %></td>
                        <td><%= tabLojaData.Estado %></td>
                        <td><%= tabLojaData.Cidade %></td>
                        <td><%= tabLojaData.Cep %></td>
                        <td><%= tabLojaData.Bairro %></td>
                        <td><%= tabLojaData.Endereco %></td>
                        <td><%= tabLojaData.Numero %></td>
                        <td><%= tabLojaData.Complemtento %></td>
                        <td><a href="/crud/lojaedit/?ID=<%= tabLojaData.ID %>&Nome=<%= tabLojaData.Nome %>&
                          Telefone=<%= tabLojaData.Telefone %>&Estado=<%=tabLoja.Data.Estado %>&Cidade=<%=tabLoja.Data.Cidade %>&
                          Cep=<%= tabLoja.Data.Cep %>&Bairro=<%= tabLoja.Data.Bairro%>&Endereco=<%=tabLoja.Data.Endereco%>&
                          Numero=<%=tabLoja.Data.Numero%>&Complemento=<%=tabLoja.Data.Complemento%>">Editar</a></td>
                        <td><a href="/crud/lojadelete/<%= tabLoja.Data.ID %>">Deletar</a></td>
                      </tr>
                <% }); %>
              </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>

      <!-- End of Main Content -->

      <% include Shared/footer %>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <% include Shared/calljs %>
  

</body>

</html>
