<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

   
  <title><%= title %></title>

  <% include Shared/callcss %>

</head>

<body id="page-top">

  <% include Shared/header %>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Lista de usuário</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Usuários</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <% for (i=0; i < tabUserKeys.length; i++){ %>
                      <th><%= tabUserKeys[i] %></th>
                      
                      <% }; %>
                      <th>Editar</th>
                      <th>Desativar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% tabUserData.forEach(function(tabUserData){ %>
                    
                      <tr>
                        <td><%= tabUserData.ID %></td>
                        <td><%= tabUserData.Nome %></td>
                        <td><%= tabUserData.Email %></td>
                        <td><%= tabUserData.Username %></td>
                        <td><%= tabUserData.Nivel_acesso %></td>
                        <td><a href="/crud/useredit/?idUser=<%= tabUserData.ID %>&Nome=<%= tabUserData.Nome %>&Email=<%= tabUserData.Email %>">Editar</a></td>
                        <td><a href="/crud/userdelete/<%= tabUserData.ID %>">Deletar</a></td>
                      </tr>
                <% }); %>
              </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <% include Shared/footer %>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <% include Shared/calljs %>
  

</body>

</html>
